<!DOCTYPE html>
<html lang="pt-BR">
<%- include("partials/head.ejs") %>
    <body id="page-top">
        <!-- Navigation -->
        <%- include("partials/navbar.ejs") %>
        <!-- Masthead -->
        <%- include("sections/01_home.ejs") %>
        <!-- About -->
        <%- include("sections/02_services.ejs") %>
        <!-- Projects -->
        <%- include("sections/03_about.ejs") %>
        <!-- Care -->
        <%- include("sections/04_care.ejs") %>
        <!-- Testimonials -->
        <!-- <%- include("sections/05_testimonial.ejs") %> -->
        <!-- Contact -->
        <!-- <%- include("sections/06_contact.ejs") %> -->
        <!-- Contact -->
        <%- include("sections/07_footer.ejs") %>
        <!-- Footer -->
        <%- include("partials/footer.ejs") %>
    </body>
</html>
